*{
	box-sizing: border-box;
}
body{
	background-color: #f5f8fa;
	color: #33475B;
	background-blend-mode: screen;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400px normal;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 2rem;
	box-sizing: content-box;
	position: relative;
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
}
.container-content{
	/* max-width: 1080px;
	margin: 0 auto;
	padding: 0 2rem; */
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* .dropdown-s {
	position: relative;
	display: inline-block;
}
.dropdown-content-s {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content-s a {
	padding: 4px 20px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	line-height: 29px;
	font-style: normal;
	font-weight: 600px;
	color: #33475b;
}

.dropdown-content-s a:hover {
	background-color: #e5f5f8;
}
.dropdown-s:hover .dropdown-content-s:hover{
	display: block;
} */
header{

	background-color: #f5f8fa;
	color: #33475b;
	border-bottom: 1px solid #cbd6e2;
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
	/* padding: 0 142px 0 125px; */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	
}
.header-btn{
	display: flex;
	align-items: center;
	padding-right:8px ;
}
.fa-caret-down {
	font-size: 22px;
	color: rgb(124, 152, 182);
	margin-left: 5px;
}
.fa-bars{
	font-size: 26px;
	font-weight: 100px;
	color: #33475B;
	margin-right: 10px;
}
.img-bg-clr{
	background-image: linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);
	background-color: #fab1a0;
	position: ;
	/* z-index: -1; */
	border-bottom: 3px solid #33475b;
}
.heroSVG{
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 260px ;
	
}
.img-footer{
	display: flex;
	align-items: flex-end;
	position: relative;
	top:  -137px;
	z-index: 1;
}
.img-footer-left{
	
	
	
	width: 70%;
	height: 74px;
	border-top: 3px solid #33475b;
	
	
	background-color: #AFEBE4;

}
.img-footer-right{
	
	
	
	width: 30%;
	height: 137px;
	background-color: #00A48D;
	border-top: 3px solid #33475B;
}

.img-txt {
	font-size: 30px;
	padding: 64px 0px;
	padding-bottom: 122px;
	/* padding-left: 70px; */
}

.get-started-top {
	max-width: 430px;
}

  .img-txt h2{
  	font-weight: 700;
  	font-size: 46px;
		line-height: 60px;
		margin-top: 23px;
  	margin-bottom: 23px;

  }
  .img-txt .get-started-text{
  	font-size: 18px;
  	line-height: 29px;
	  font-weight: 400px;
	  font-style: normal;
		margin-bottom: 32px;
		display: block;
	}
	
  .hubspot1{
	background-color: #ff7a59;
	color: white;
	padding: 22px 34px;
	font-size: 17px;
	font-weight: bold;
	line-height: 29px;
	border-radius: 4px;
	width: 225px;
	display: inline-block;
}
.hubspot1:hover{
background-color: #ff7979;
color: white;
}

.get-started-note {
	margin: 28px 0;
	font-size: 14px;
	font-weight: 500;
}

a{
	text-decoration: none;
}
header ul{
	list-style: none;
	display: flex;
	margin: 12.5px 0px;
	padding-left: 0px;
}
/* .menu{
	display: flex;
	flex: 10;
} */
.menu li{
	padding: 10px 20px 10px 0px;
	font-weight: 500px;
	font-size: 16px;
	line-height: 29px;
}

.navbar{
	background-color: white ;
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
	margin-top: 77px;
	/* padding: 2px 155px 2px 131px; */
	font-size: 16px;
	font-weight: 600px bold;
	line-height: 29px;

}
.logo img{
	
		display: flex;
		align-self: center;
		width: 120px;
		height: 53px;
		
		


}


.navbar__links li {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	color: rgb(51, 71, 91);
}

.navbar__links li i {
	font-size: 22px;
	color: rgb(124, 152, 182);
	margin-left: 5px;
}

.right li{
margin-left: 30px;

}
.right ul{
	display: flex;
	list-style: none;
	margin: 24.5px 0;
}

.search{
	padding-right: 20px;
	font-size: 15px;
	color: blue;
	
}
.login{
	background-color: white;
	color: red;
	transition-duration: .04s;
	padding: 9.5px 28.5px;
	font-size: 13px;
	border-radius: 4px;
	margin-right: 7px;
	border: 1px solid #ff7a59;;
}
.login:hover{
	background-color: #ff7a59;;
	color: white;
}
.hubspot{
	background-color: #ff7a59;
	color: white;
	transition-duration: .04s;
	width: 134px;
	height: 37px;
	 /* padding: auto 0px;  */
	text-align: center;
	font-size: 13px;
	line-height: 29px;
	font-weight: 400;
	border-radius: 4px;
}
.hubspot:hover{
background-color: #ff7a59;
color: white;
}


.boxes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 100px 0px;
}
.box{
	background-color: white;
	border: none;
	box-sizing: border-box;
	width: 345px;
	height: 476px;
	text-decoration: none solid rgb(51,71,91);
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	margin-right: 22px;
	transition: transform .5s;
	font-size: 20px;

}
.box:hover{
	box-shadow: 2px 2px 7px 3px inherit;
	transform: scale(1.02);
}
.popular{
	padding-left: 0;
	font-weight: 600px bold;
	font-size: 13px;
	color: #33475b;
	line-height:  20.944px;
	margin-bottom: 0px;
}
.box ul{
	margin-top: 16px;
	margin-bottom: 7px;
	padding-left: 0px;
}
.box li{
	list-style: none;
	text-align: left;
	font-weight: 500px medium;
	font-size: 13px;
	line-height: 31px;
	color: #33475b;
}
.box i{
	color: red;
	font-size: 18px;
}
.box h2{
	font-weight: 600px;
	font-size: 22px;
	color: #33475b;
}
.box p{
	margin-top: 29px;
	font-size: 14.208px;
	color: #33475b;
	margin-bottom: 26px;
	line-height: 22.89px;
	font-size: 14.208px;
}
.box hr{
	margin-bottom: 27px;
}
.box1{
	border: none;
	box-sizing: border-box;
	width: 345px;
	padding-right: 32px;
	font-size: 20px;
	margin-right: 22px;

	/*border: none;
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	padding: 0 50px;
	margin: 20px;
	font-size: 20px;*/
}
.box1 h2{
	font-weight: 700px;
	font-size: 32px;
	margin-top: 0px;
}
.box1 p{
	font-size: 18px;
}
.right-margin{
	margin-right: 0px;
}
.top-margin{
	margin-top: 16px;
}
.started{
	background-color: #ff7a59;
	width: 100%;
	transition-duration: .04s;
	padding: 15px 103px;
	
	font-size: 15px;
	color: #ffffff;
	font-weight: 600px;
	border-radius: 4px;

}
.started:hover{
background-color: #ff7979;
color: white;
}
.contact{
	background-color: white;
	color: black;
	transition-duration: 0.04s;
	padding: 10px 19.5px;
	margin-top: 400px;
	margin-left: -2px;
	font-size: 13px;
	line-height: 29px;
	font-weight: 500px;
	border-radius: 4px;
	text-decoration: none solid rgb(51,71,91); 
}
.contact:hover{
	background-color: #e6fff7;
}
.info{
background-color: #38ada9;
color: white;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 81px;
margin-top: 2px;
}
.info-text{
	text-align: center;
	padding: 80px;
	margin: 60px;
	font-size: 30px;
	align-self: center;
}
.info-text h2{
	font-weight: 700px;
	font-family: 32px;
}
.info-text p{
	font-size: 18px;
}
.info-2{
	display: flex;
	flex-wrap: wrap;
}
.info-2 > div {


  width: 100px;
  margin: 20px 70px;
  padding: 10px 60px; 
  text-align: center;
  line-height: 75px;
  font-size: 45px;
  font-weight: 700px;
}
.info-2 >p{
	text-align: center;
}
.dv1{
	border-right: 2px solid white;
}
footer{
	background-color: #33475b;
	color: #cbd6e2;
	font-size: 18px;
	font-weight: 600px;
	font-style: normal;
	width: 100%;
	flex-direction: column;
		padding-left:  134px;
		line-height: 29px;
	

}


footer  li:hover{
	color: #7fd1de;
}
.social > ul{
	display: flex;
	justify-content: flex-end;
	
	margin-top: -55px ;
	margin-right: 110px;
	list-style: none;

}
.social  li {

	padding: 20px 13px;

}
.social ul >  li > i{
	font-size: 23px;
}
.div-footer{
	display: flex;
	padding-right: 26px;
}
.footer-box ul li{
	list-style: none;
	font-size: 14px;
	font-weight: 600px bold;
	padding: 8px 0px;
	text-align: left;
	text-decoration: none solid rgb(127,209,222);
}
.footer-box{

	width: 270px;
	height: 400px;
	font-size: 18px;
	font-weight: 700px bold;
	line-height: 29px;
	padding: 0 0px;
	
	margin-top: 64px;
	margin-right: 9px;
}
.footer-box ul{
	padding-left: 0px;
	
}
.footer-box b{
	color: white;
	font-size: 18px;
	font-weight: 700px bold;
}
.lang ul{
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	padding-right: 125px;

}
.lang li{
	font-size: 18px;
	font-weight: 600px;
	line-height: 29px;
	padding: 16px;
	
	
}
.lower{
	display: flex;
	direction: row;
	justify-content: space-between;
	padding: 53.5px 16px 53.5px 0px;
	margin-right: 134px;
	margin-top: 23px;
	font-size: 18px;
	border-top: 1px solid #cbd6e2;

}
.lower-left{
	padding: 0px;

}
.lower-right{
	
	font-size: 18px;
	line-height: 29px;
	}
	/*.main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding:  ;

		width: 100%;
	}*/
	.content, .content1{
		display: flex;
		background-color: white;
		padding: 100px;
		justify-content: space-between;
	}
	.number{
		display: flex;
		flex-direction: column;
		font-size: 40px;
		line-height: 53px;
		font-weight: 700px;
		color: #33475b;
		font-style: normal;
		
	

	}
	.h4{
		font-size: 40px;
		
		font-weight: 700px;
	
		margin-bottom: -20px;


	}
	
	.company{
		align-self: center;
	}
	.company img{
		padding: 20px;
		width: 180px;
		height: 70px;
	}
	.c1-left{
	
		font-size: 1.12rem;
		padding: 10px;
		padding-right: 230px;
		display: flex;
		flex-direction: column;


	}
	.c1-left >h2{
		font-size: 32px;
		font-weight: 700px;
		line-height: 1.141667em;
		margin-bottom: 0px;
	}
	.free{
		font-size: 14px;
		margin-bottom: 0px;

	}
	
	.c1-right > img{
		width: 350px;
		height: 450px;
	}
	.c1-hubspot{
	background-color: #ff7a59;
	color: white;
	transition-duration: .04s;
	width: 36%;
	padding: 20px 20px;
	font-size: 17px;
	font-weight: 600px;
	border-radius: 4px;
	margin: 10px 0;
}
.c1-hubspot:hover{
background-color: #ff7979;
color: white;
}

/* --- MEDIA QUERIES FOR RESPONSIVENESS --- */


@media screen and (min-width: 768px) {
	div.menu-bar{
	  display: none;
	}
	div.garage{
		display: none;
	}
  }
@media screen and (max-width: 768px) {
	header {
	  display: none;
	}
	div.navbar {
		display: flex;
	justify-content: space-between;
	margin: 0px;
	height: 100px;
	padding: 12px 16px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;
	
	}
	div.right{
		display: none;
	}
		
		div.menu-bar{
			display: flex;
		  }
		  div.img-bg-clr{
			  display: flex;
			  flex-direction: column;
			  margin-top: 100px;
			  width: 820px;
			  height: auto;
			  padding: 84px 32px;
		  }
		  div.img-txt{
			  display: flex;
			  flex-direction: column;
			  align-items: center;
			  position: relative;
			  padding: 0px;
			  width: 756px;
			  left: 0px;
		  }
		  div.img-txt h2{
			  text-align: center;
			  font-weight: 700px;
			  font-style: normal;
			  font-size: 28px;
			  line-height: 40px;
			


		  }
		  div.img-txt p{
			  font-weight: 500px;
			  text-align: center;
		  }
		  div.flex-row{
			  display: flex;
			  flex-direction: row;
		  }
		  a.hubspot1{
			  text-align: center;
			  width: 340px;

		  }
		  img.heroSVG{
			  display: none;
		  }
		  img.garage{
			width: 480px;
		  }
		  div.boxes{
			  display: flex;
			  flex-direction: column;
		  }
		  

}