*{
	box-sizing: border-box;
}
body{
	background-color: #ecf0f1;
	color: #33475B;
	background-blend-mode: screen;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400px normal;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
header{

	background-color: #ecf0f1;
	border-bottom: 1px solid #cbd6e2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 142px 0 125px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	
}
.fa-caret-down {
	font-size: 22px;
	color: rgb(124, 152, 182);
	margin-left: 5px;
}
.img-bg-clr{
	background-image: linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);
	background-color: #fab1a0;
	position: relative;
	z-index: -1;
	height: 790px;


}
.img-bg-clr img{
	
	margin-top: 260px ;
}

.img-txt{
	  position: absolute;
  top: 0px;
  left: 59px;
  width: 500px;
  /*padding-top: 10px;
  padding-left: 10px;
*/  font-size: 30px;
  padding: 49px 75px;
  margin-left: ;

  
  }
  .img-txt h2{
  	font-weight: 700px;
  	font-size: 46px;
  	line-height: 60px;
  	margin-bottom: 23px;

  }
  .img-txt p{
  	font-size: 18px;
  	line-height: 29px;
  	width: 500px;
  	margin-bottom: 32px;
  }
  .hubspot1{
	background-color: #ff7a59;
	color: white;
	transition-duration: .04s;
	padding: 22px 34px;
	font-size: 17px;
	font-weight: 600px bold;
	line-height: 29px;
	border-radius: 4px;
	margin-left: 1px;
}
.hubspot1:hover{
background-color: #ff7979;
color: white;
}

a{
	text-decoration: none;
}
header ul{
	list-style: none;
	display: flex;
	margin: 12.5px 0px;
	padding-left: 0px;
}
.menu li{
	padding: 10px;
	font-weight: 500px;
	font-size: 16px;
	line-height: 29px;
}

.navbar{
	background-color: white ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: ;
	margin-top: 77px;
	padding: 2px 155px 2px 131px;
	font-size: 16px;
	font-weight: 600px bold;
	line-height: 29px;

}
.logo img{
	
		display: flex;
		align-self: center;
		width: 120px;
		height: 53px;
		
	


}
.logo{
	/* padding-left: ; */
}
.navbar__links li {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	color: rgb(51, 71, 91);
}

.navbar__links li i {
	font-size: 22px;
	color: rgb(124, 152, 182);
	margin-left: 5px;
}

.right{
padding-right: ;
font-weight:;
font-size: ;
	
}
.right li{
margin-left: 30px;

}
.right ul{
	display: flex;
	list-style: none;
	margin: 24.5px 0;
}
.header-btn{
	padding-right: ;
}
.search{
	padding-right: 20px;
	font-size: 15px;
	color: navy;
	
}
.login{
	background-color: white;
	color: red;
	transition-duration: .04s;
	width: ;
	padding: 11px 28.5px;
	font-size: 13px;
	border-radius: 4px;
	margin-right: 7px;
	border: 1px solid red;
}
.login:hover{
	background-color: red;
	color: white;
}
.hubspot{
	background-color: #ff7a59;
	color: white;
	transition-duration: .04s;
	padding: 11px 15px;
	font-size: 13px;
	font-weight: 500px;
	border-radius: 4px;
}
.hubspot:hover{
background-color: #ff7a59;
color: white;
}

.boxes{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px 135px 8px 135px;
	width: 100%;
}
.box{
	background-color: white;
	border: none;
	box-sizing: border-box;
	width: 345px;
	height: 476px;
	text-decoration: none solid rgb(51,71,91);
	padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	margin: ;
	transition: transform .5s;
	font-size: 20px;

}
.box:hover{
	box-shadow: 2px 2px 7px 3px inherit;
	transform: scale(1.02);
}
.popular{
	padding-left: 0;
	font-weight: 600px bold;
	font-size: 13px;
	color: #33475b;
	line-height:  20.944px;
	margin-bottom: 0px;
}
.box ul{
	margin-top: 16px;
	margin-bottom: 7px;
	padding-left: 0px;
}
.box li{
	list-style: none;
	text-align: left;
	font-weight: 500px medium;
	font-size: 13px;
	line-height: 31px;
	color: #33475b;
	margin-top: ;
}
.box i{
	color: red;
	font-size: 18px;
}
.box h2{
	font-weight: 600px;
	font-size: 22px;
	color: #33475b;
}
.box p{
	margin-top: 29px;
	font-size: 14.208px;
	color: #33475b;
	margin-bottom: 26px;
	line-height: 22.89px;
	font-size: 14.208px;
}
.box hr{
	margin-bottom: 27px;
}
.box1{
	border: none;
	box-sizing: border-box;
	width: 345px;
	height: 476px;
	margin-top: ;
	padding-right: 32px;
	margin: ;
	font-size: 20px;

	/*border: none;
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	padding: 0 50px;
	margin: 20px;
	font-size: 20px;*/
}
.box1 h2{
	font-weight: 700px;
	font-size: 32px;
	margin-top: 0px;
}
.box1 p{
	font-size: 18px;
}
.started{
	background-color: #ff7a59;
	width: 100%;
	transition-duration: .04s;
	padding: 15px 103px;
	font-size: 15px;
	color: #ffffff;
	font-weight: 600px;
	border-radius: 4px;

}
.started:hover{
background-color: #ff7979;
color: white;
}
.contact{
	background-color: white;
	color: black;
	transition-duration: 0.04s;
	padding: 11px 15.5px;
	margin-top: 70px;
	margin-left: -2px;
	font-size: 13px;
	line-height: 29px;
	font-weight: 500px;
	border-radius: 4px;
	text-decoration: none solid rgb(51,71,91); 
}
.contact:hover{
	background-color: #e6fff7;
}
.info{
background-color: #38ada9;
color: white;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 81px;
margin-top: 2px;
}
.info-text{
	text-align: center;
	padding: 80px;
	margin: 60px;
	font-size: 30px;
	align-self: center;
}
.info-text h2{
	font-weight: 700px;
	font-family: 32px;
}
.info-text p{
	font-size: 18px;
}
.info-2{
	display: flex;
	flex-wrap: wrap;
}
.info-2 > div {
  background-color:;

  width: 100px;
  margin: 20px 70px;
  padding: 10px 60px; 
  text-align: center;
  line-height: 75px;
  font-size: 45px;
  font-weight: 700px;
}
.info-2 >p{
	text-align: center;
}
.dv1{
	border-right: 2px solid white;
}
footer{
	background-color: #2c3e50;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600px medium;
	width: 100%;
	flex-direction: column;
		padding-left:  91px;
	

}

.social{
	

}
footer  li:hover{
	color: #7fd1de;
}
.social > ul{
	display: flex;
	justify-content: flex-end;
	padding: ;
	margin-top: -55px ;
	margin-right: 110px;
	list-style: none;

}
.social  li {
	display: ;
	padding: 15px;
	margin: ;
	line-height: ;
}
.social ul >  li > i{
	font-size: 25px;
}
.div-footer{
	display: flex;
	padding-right: 26px;
}
.footer-box ul li{
	list-style: none;
	font-size: 14px;
	font-weight: 600px bold;
	padding: 8px 0px;
	text-align: left;
	text-decoration: none solid rgb(127,209,222);
}
.footer-box{
	background-color: ;
	width: 270px;
	height: 400px;
	font-size: 18px;
	font-weight: 700px bold;
	line-height: 29px;
	padding: 0 0px;
	margin: ;
	margin-top: 64px;
	margin-right: 9px;
}
.footer-box ul{
	padding-left: 0px;
	padding-right: ;
}
.footer-box b{
	color: white;
	font-size: 18px;
	font-weight: 700px bold;
}
.lang ul{
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	padding-right: 125px;
	margin: ;
	text-align: ;
}
.lang li{
	font-size: 18px;
	font-weight: 600px;
	line-height: 29px;
	padding: 16px;
	margin: ;
	
}
.lower{
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: white;
	padding: 30px 40px;
	font-size: 20px;

}
.lower-left{
	padding: 0 20px;

}
.lower-right{
	text-align: right;
	}
	/*.main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding:  ;

		width: 100%;
	}*/
	.content, .content1{
		display: flex;
		background-color: white;
		padding: 100px;
		justify-content: space-between;
	}
	.number{
		display: flex;
		flex-direction: column;
		justify-content: ;
		align-items: ;
		font-size: 20px;
		align-self: ;
		
	

	}
	.h4{
		font-size: 40px;
		align-self: ;
		font-weight: 700px;
	
		margin-bottom: -20px;


	}
	.number p {
	
		margin-top: ;
	}
	.company{
		align-self: center;
	}
	.company img{
		padding: 20px;
		width: 180px;
		height: 70px;
	}
	.c1-left{
	
		font-size: 1.12rem;
		padding: 10px;
		padding-right: 230px;
		display: flex;
		flex-direction: column;


	}
	.c1-left >h2{
		font-size: 32px;
		font-weight: 700px;
		line-height: 1.141667em;
		margin-bottom: 0px;
	}
	.free{
		font-size: 14px;
		margin-bottom: 0px;

	}
	.c1-right{
		border: ;
	}
	.c1-right > img{
		width: 350px;
		height: 450px;
	}
	.c1-hubspot{
	background-color: #ff7a59;
	color: white;
	transition-duration: .04s;
	width: 36%;
	padding: 20px 20px;
	font-size: 17px;
	font-weight: 600px;
	border-radius: 4px;
	margin: 10px 0;
}
.c1-hubspot:hover{
background-color: #ff7979;
color: white;
}