*{
	box-sizing: border-box;
}
body{
	background-color: #ecf0f1;
	font-family: ;
	margin: 0;
}
header{
	background-color: #c7ecee;
	display: flex;
	justify-content: space-between;
		align-items: center;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%




}
.img-bg-clr{

	background-color: #fab1a0;
	position: relative;
	z-index: -1;
}
.img-txt{
	  position: absolute;
  top: 0px;
  left: 16px;
  width: 500px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;

  
  }

a{
	text-decoration: none;
}
header ul{
	list-style: none;
	display: flex;
}
.menu li{
	padding: 10px;
	font-size: 20px;
}
.navbar{
	background-color: white ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: ;
	margin-top: 5%;

}
#logo img{
	
		flex:  2 0 200px;
		align-self: center;


}
#logo{
	padding-left: 60px;
}
.right{
padding-right: 50px;
	
}
.right li{
padding: 10px;
	font-size: 20px;

}
.right ul{
	display: flex;
	list-style: none;
}
.header-btn{
	padding-right: 40px;
}

.login{
	background-color: white;
	color: red;
	transition-duration: .04s;
	padding: 10px 40px;
	font-size: 20px;
	border-radius: 4px;
	margin-right: 15px;
	border: 2px solid red;
}
.login:hover{
	background-color: red;
	color: white;
}
.hubspot{
	background-color: red;
	color: white;
	transition-duration: .04s;
	padding: 10px;
	font-size: 20px;
	border-radius: 4px;
}
.hubspot:hover{
background-color: #ff7979;
color: white;
}

.boxes{
	display: flex;
	flex-direction: row;
	padding: 20px 60px;
}
.box{
	background-color: white;
	border: none;
	box-sizing: border-box;
	width: 400px;
	height: 500px;
	padding: 0 50px;
	margin: 20px;
	font-size: 20px;
}
.box:hover{
	box-shadow: 2px 2px 7px .7px grey;
}
.box1{
	border: none;
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	padding: 0 50px;
	margin: 20px;
	font-size: 20px;
}
.started{
	background-color: red;
	color: white;
	transition-duration: .04s;
	padding: 20px 70px;
	font-size: 20px;
	border-radius: 4px;
}
.started:hover{
background-color: #ff7979;
color: white;
}
.contact{
	background-color: white;
	color: black;
	transition-duration: 0.04s;
	padding: 20px 10px;
	margin-top: 80px;
	margin-left: 40px;
	font-size: 20px;
	border-radius: 4px;
}
.contact:hover{
	background-color: #e6fff7;
}
.info{
background-color: #38ada9;
color: white;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.info-text{
	text-align: center;
	padding: 80px;
	margin: 60px;
	font-size: 30px;
	align-self: center;
}
.info-2{
	display: flex;
	flex-wrap: wrap;
}
.info-2 > div {
  background-color:;

  width: 100px;
  margin: 20px 70px;
  padding: 10px 60px; 
  text-align: center;
  line-height: 75px;
  font-size: 60px;
}
.info-2 >p{
	text-align: center;
}
.dv1{
	border-right: 2px solid white;
}
footer{
	background-color: #2c3e50;
	color: white;
	width: 100%;
	flex-direction: column;
		padding: 0px;
	

}
.div-footer{
	display: flex;
}
.footer-box ul li{
	list-style: none;
}
.footer-box{
	background-color: ;
	width: 270px;
	height: 400px;
	font-size: 20px;
	padding: 0 0px;
	margin: 10px;
	line-height: 40px;
}
.lang ul{
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
	margin: ;
	text-align: ;
}
.lang li{
	font-size: 20px;
	padding: 20px;
	margin: ;
	
}
.lower{
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: white;
	padding: 30px 40px;
	font-size: 20px;

}
.lower-left{

}
.lower-right{
	text-align: right;
	}
	.main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 ;
		width: 100%;
	}
	.content, .content1{
		display: flex;
		background-color: white;
		padding: 100px;
		justify-content: space-between;
	}
	.number{
		display: flex;
		flex-direction: column;
		justify-content: ;
		align-items: ;
		font-size: 20px;
		align-self: ;
		
	

	}
	.h4{
		font-size: 50px;
		align-self: ;
	
		margin-bottom: -20px;


	}
	.number p {
	
		margin-top: ;
	}
	.company{
		align-self: center;
	}
	.company img{
		padding: 20px;
		width: 180px;
		height: 70px;
	}
	.c1-left{
	
		font-size: 1.12rem;
		padding: 10px;
		padding-right: 120px;
		display: flex;
		flex-direction: column;


	}
	.c1-left >h2{
		font-size: 40px;
		font-weight: 700;
		line-height: 1.141667em;
		margin-bottom: 0px;
	}
	.free{
		font-size: .875rem;
		margin-bottom: 0px;
	}
	.c1-right{
		border: ;
	}
	.c1-right > img{
		width: 350px;
		height: 450px;
	}
	.c1-hubspot{
	background-color: red;
	color: white;
	transition-duration: .04s;
	width: 36%;
	padding: 30px 30px;
	font-size: 20px;
	border-radius: 4px;
	margin: 10px 0;
}
.c1-hubspot:hover{
background-color: #ff7979;
color: white;
}